<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SistemaGestionHotelera</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>/jsp/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControladorLogin</servlet-name>
    <servlet-class>com.unla.controladores.ControladorLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorInicio</servlet-name>
    <servlet-class>com.unla.controladores.ControladorInicio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorOfertas</servlet-name>
    <servlet-class>com.unla.controladores.ControladorOfertas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrarseController</servlet-name>
    <servlet-class>com.unla.controladores.RegistrarseController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControllerRegistracion</servlet-name>
    <servlet-class>com.unla.controladores.ControllerRegistracion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorIndex</servlet-name>
    <servlet-class>com.unla.controladores.ControladorIndex</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorReservas</servlet-name>
    <servlet-class>com.unla.controladores.ControladorReservas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControladorContacto</servlet-name>
    <servlet-class>com.unla.controladores.ControladorContacto</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ControladorReservar</servlet-name>
    <servlet-class>com.unla.controladores.ControladorReservar</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ControladorModificarDatos</servlet-name>
    <servlet-class>com.unla.controladores.ControladorModificarDatos</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ControladorModificarDatosCliente</servlet-name>
    <servlet-class>com.unla.controladores.ControladorModificarDatosCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorLogin</servlet-name>
    <url-pattern>/MostrarInicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorIndex</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorReservas</servlet-name>
    <url-pattern>/Reservas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrarseController</servlet-name>
    <url-pattern>/Registrarse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerRegistracion</servlet-name>
    <url-pattern>/FormularioRegistro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorInicio</servlet-name>
    <url-pattern>/Inicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorOfertas</servlet-name>
    <url-pattern>/Ofertas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorContacto</servlet-name>
    <url-pattern>/Contacto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControladorReservar</servlet-name>
    <url-pattern>/Reservar</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorModificarDatos</servlet-name>
    <url-pattern>/ModificarDatos</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ControladorModificarDatosCliente</servlet-name>
    <url-pattern>/Modificar</url-pattern>
  </servlet-mapping>
  
</web-app>